
<body class="admin">
  <div class="container">
    <div class="row">
      <div id="folders">

        <div class="col s2 tab l900"><%= link_to "Users", admin_index_path, :class => "usersLink"%></div>
        <div class="col s2 tab l900"><%= link_to "Events", admin_events_path, :class => "eventsLink" %></div>
        <div class="col s2 tab l900"><%= link_to "News", admin_news_index_path, :class => "newsLink" %></div>
        <div class="col s2 tab l900"><%= link_to "Organizations", organizations_path, :class => "orgLink" %></div>
        <div class="col s2 tab l900"><%= link_to "Technologies", technologies_path, :class => "techLink" %></div>
        <div class="col s2 tab"><h3 class="pageTitle right-align titleAdmin">Admin</h3></div>

      </div>
    </div>
    <div id="rectangle">

      <div class="row">
        <div class="userBoxes">
          <span class="col s6 h5class">Pending Claim Requests</span>
          <table class="highlight pendingTable">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Organization Name</th>
                <th>Action</th>
              </tr>
            </thead>

            <% @users.each do |user| %>
            <% if user.organization_id != nil && user.org_approved == false %>
            <tbody>
              <tr>
                <td><%= user.first_name %> <%= user.last_name %></td>
                <td><%= user.email%></td>
                <td><%= Organization.find(user.organization_id).name%></td>
                <td><%= link_to "Accept", admin_claim_path(user), method: :patch %> <%= link_to "Reject", admin_claim_path(user), method: :delete%></td>
              </tr>
            </tbody>
            <% end %>
            <% end %>
          </table>

          <span class="col s4 h5class1">Users</span>

          <table class="highlight pendingTable">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Organization Name</th>
                <th>Action</th>
              </tr>
            </thead>

            <% @users.each do |user| %>

            <tbody>
              <tr>
                <td><%= user.first_name %> <%= user.last_name %></td>
                <td><%= user.email%></td>
                <td>
                  <% if user.organization_id %>
                  <%= Organization.find(user.organization_id).name %>
                  <% end %>
                  <br>

                </td>
                <td><%= link_to "Edit", edit_user_path(user)%>
                <%= link_to "Delete", user_path(user), method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
              </tr>
            </tbody>
            <% end %>

          </table>
        </div>
      </div>
    </div>
  </div>
</body>
