<h1>EDIT USERS</h1>


  <%= form_for(@user) do |f| %>

    <p><%= f.label :first_name %></p>
    <p><%= f.text_field :first_name, value: @user.first_name %></p>

    <p><%= f.label :last_name %></p>
    <p><%= f.text_field :last_name, value: @user.last_name %></p>

    <p><%= f.label :organization_id %><p>
    <p><%= f.text_field :organization_id, value: @user.organization_id %></p>

    <p><%= f.label :is_admin %><p>
    <p><%= f.text_field :is_admin, value: @user.is_admin %></p>

    <p><%= f.label :email %><p>
    <p><%= f.text_field :email, value: @user.email %></p>

    <p><%= f.label :Org_approved %><p>
    <p><%= f.text_field :org_approved, value: @user.org_approved %></p>




<%= f.submit %>

<% end %>
