<div class="section1">
  <h1 class="maintitle">vancouver tech hub</h1>
  <%= image_tag "landmark.png", class: "landmark" %>
  <%= image_tag "cloud.png", class: "cloud" %>
  <div class="main-btn-container">
    <a href="/users/new" class="waves-effect waves-light btn" id="main-btn">Sign Up</a>
    <a href="/sessions/new" class="waves-effect waves-light btn" id="main-login-btn">Login</a>
    <a href="/directory" class="waves-effect waves-light btn" id="main-btn">Explore</a>
  </div>
  <div class="login-btn">
    <span class="login"><a href="/sessions/new">LOGIN</a></span>  <i class="fa fa-sign-in fa-3x" aria-hidden="true"></i>
  </div>
</div>

<div class="section2">
  <div class="section2text">
    <h2 class="section2title">About</h2>
    <p class="subtitle">The Vancouver tech industry is booming!</p>
    <p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec laoreet orci. Praesent at sagittis urna. Maecenas rhoncus auctor massa sit amet tincidunt. Aenean consequat ullamcorper feugiat. Nullam convallis rhoncus ex in lobortis. Sed orci nibh, varius eget suscipit ut, convallis ac nisl. Duis elit velit, rhoncus maximus risus eget, malesuada vehicula nulla. Proin eget maximus sapien. Donec mattis cursus velit sit amet tincidunt.</p>
  </div>
  <%= image_tag "landmark1.png", class: "landmark1" %>
</div>

<nav class = "searchbox">
  <div class="nav-wrapper search">
    <form>
      <div class="input-field">
        <input id="search" type="search" required>
        <label for="search"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
      </div>
    </form>
  </div>
  <h2 class="section3title">explore</h2>
</nav>

<div class="section3">
  <div class="overlay" onClick="style.pointerEvents='none'"></div>
  <iframe class = "map" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d10411.171433153073!2d-123.112195!3d49.280322149999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sca!4v1493512760389" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<div class="section4">
  <div class="circles-container">
    <h2 class="section4title">get to know your community</h2>
    <a href="/directory"><div class="circle z-depth-2"><%= image_tag "directory.png", class: "circle-img" %><span class="circle-text">Directory</span></div></a>

    <a href="/events"><div class="circle z-depth-2"><%= image_tag "calendar.png", class: "circle-img" %><span class="circle-text">Events</span></div></a>

    <a href="/news"><div class="circle z-depth-2"><%= image_tag "news.png", class: "circle-img" %><span class="circle-text">News</span></div></a>
  </div>
  <div class="cloud-container">
    <%= image_tag "cloud1.png", class: "cloud1" %>
  </div>
</div>

<div class="section5">
  <div class="container sec5">
    <h2 class="section5title">contact us</h2>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <input placeholder="John" id="first_name" type="text" class="validate">
            <label for="first_name">First Name</label>
          </div>
          <div class="input-field col s6">
            <input placeholder="Doe" id="last_name" type="text" class="validate">
            <label for="last_name">Last Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input placeholder="john.doe@gmail.com" id="email" type="email" class="validate">
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea placeholder="Feel free to let us know what you think of Vancouver Tech Hub!" id="textarea1" class="materialize-textarea"></textarea>
            <label for="textarea1">Textarea</label>
          </div>
        </div>
        <button class="btn waves-effect waves-light sub-btn" type="submit" name="action" id="submit-btn">Submit</button>
      </form>
    </div>
  </div>
</div>
