
<body class="explore">
  <div class="folders">
    <div class="row">
      <div class="tabby directory-events"><h5 class="tab-text">Directory</h5><%= image_tag "directory.png", class: "tab-icon" %></div>
      <div class="tabby events-events"><h5 class="tab-text">Events</h5><%= image_tag "calendar-tab.png", class: "tab-icon" %></div>
      <div class="tabby news-events"><h5 class="tab-text">News</h5><%= image_tag "news-tab.png", class: "tab-icon" %></div>
      <h3 class="pageTitle right-align titleAdmin">explore</h3>
    </div>
    <div id="rectangle" class="events-box">
      <h2 class="upcoming-events">Upcoming Events</h2>
      <div class="main-cal">
        <%= month_calendar events: @events do |date, events| %>
          <%= date %>

          <% events.each do |event| %>
            <div>
              <%= event.name %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div id="event-list">
          <% if @events %>
              <% @events.each do |event| %>
                <p><%= event.name %></p>
                <p><%= Time.at(event.start_time) %></p>
                <hr>
              <% end %>
          <% end %>
      </div>
    </div>
  </div>
</body>
