<center>
<%= @organization.errors.full_messages.join(', ') %>
<%= form_for @organization do |f| %>
  <div>
    <%= f.label :name %>
    <br>
    <%= f.text_field :name, size: "45%x1%", value: @organization.name %>
  </div>
  <br>
  <div>
    <%= f.label :manager %>
    <br>
    <%= f.text_field :manager, size: "45%x1%", value: @organization.manager %>
  </div>
  <br>
  <div>
    <%= f.label :overview %>
    <br>
    <%= f.text_area :overview, size: "45%x5%", value: @organization.overview%>
  </div>
  <br>
  <div>
    <%= f.label :webiste %>
    <br>
    <%= f.text_field :website, size: "45%x1%",  value: @organization.website %>
  </div>
  <br>
  <div>
    <%= f.label :twitter %>
    <br>
    <%= f.text_area :twitter, size: "45%x1%", value: @organization.twitter %>
  </div>
  <br>
  <div class="form-group">
    <%= f.collection_select :adapted_technologies, Technology.order(:language), :id, :language,{ selected: @organization.adapted_technologies.map(&:id) },{ multiple: true, class: 'chosen-select', style: 'width: 400px'} %>
  </div>
  <hr>

  <%= f.submit %>
<% end %>

</center>
