
<body class="admin">
  <div class="container">
    <div class="row">
      <div id="folders">
        <div class="col s2 tab"><%= link_to "Users", admin_index_path, :class => "usersLink"%></div>
        <div class="col s2 tab"><%= link_to "Events", admin_events_path, :class => "eventsLink" %></div>
        <div class="col s2 tab"><%= link_to "News", admin_news_index_path, :class => "newsLink" %></div>
        <div class="col s2 tab"><%= link_to "Organizations", organizations_path, :class => "orgLink" %></div>
        <div class="col s2 tab"><%= link_to "Technologies", technologies_path, :class => "techLink" %></div>
        <div class="col s2 tab"><h3 class="pageTitle right-align titleAdmin">Admin</h3></div>
      </div>
    </div>
    <div id="rectangleOrg">
      <div class="rectangleOrgInner">
      <!-- <h1>Organization List</h1> -->
        <span class="orgId">Organization</span>
          <div class="row">
            <div class="col s1"></div>
            <div class="col s11"><%= image_tag @organization.avatar.url %></div>
          </div>
          <div class="row">
            <div class="col s1"></div>
            <div class="col s11"><h5><%= @organization.name %></h5></div>
          </div>
          <div class="row">
            <div class="col s1"></div>
            <div class="col s11">Number of Employee: <%= @organization.employee %></div>
          </div>
          <div class="row">
            <div class="col s1"></div>
            <div class="col s11">Manager: <%= @organization.manager %></div>
          </div>
          <div class="row">
            <div class="col s1"></div>
            <div class="col s11">Address: <%= @organization.street %>,<%= @organization.city %>,<%= @organization.province %>,<%#= @organization.postal_code %>></h4></div>
          </div>
          <div class="row">
            <div class="col s1"></div>
            <div class="col s11">Overview: <%#= @organization.overview %></div>
          </div>
          <div class="row">
            <div class="col s1"></div>
            <div class="col s11">URL: <%= @organization.website %></div>
          </div>
          <div class="row">
            <div class="col s1"></div>
            <div class="col s11">Twitter: <%= @organization.twitter %></div>
          </div>
          <div class="row">
            <div class="col s1"></div>
            <div class="col s11">Created On: <%= @organization.created_at %></div>
          </div>

          <div class="row">
            <div class="col s1"></div>
            <div class="col s11">Technology: <%= @organization.adapted_technologies.pluck(:language).join(', ') %>.</div>
          </div>
          <div class="row">
            <div class="col s1"></div>
            <div class="col s11"><%= link_to "Claim this business", organizations_confirm_path(@organization)  %></div>
          </div>
      </div>
    </div>
  </div>
</body>
