<h1>Organization Show Page</h1>

<h2>REAL PAGE</h2>

<h2><%= @organization.name %></h2>

<!--this needs a rescue(?)/validation and some sort of comparison to see if the logo column already has data-->
<%= image_tag @organization.avatar.url %>

<p>Number of Employee: <%= @organization.employee %></p>
<p>Manager: <%= @organization.manager %></p>
<p>Address: <%= @organization.street %>,<%= @organization.city %>,<%= @organization.province %>,<%= @organization.postal_code %> </p>
<p>Overview: <%= @organization.overview %></p>
<p>URL: <%= @organization.website %></p>
<p>Twitter: <%= @organization.twitter %></p>
<p>Created On: <%= @organization.created_at %></p>
<p>Technology: <%= @organization.adapted_technologies.pluck(:language).join(', ') %>.</p>
<p><%= link_to "Claim this business", organizations_confirm_path(@organization)  %></p>
