<!DOCTYPE html>
<html>
  <head>
    <title>VanTechHub</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <a href="/organizations">Organization</a>
    |
    <a href="/organizations/new">Org New</a>
    |
    <a href="/technologies">Technology</a>
    |
    <a href="/users/new">Sign Up</a>
    |
    <a href="/sessions/new">Log In</a>
    |
    <a href="/admin">Admin</a>



<% if flash[:notice] %>
        <div class="alert alert-success"><%= flash[:notice] %></div>
      <% elsif flash[:alert] %>
        <div class="alert alert-danger"><%= flash[:alert] %></div>
      <% end %>

    <%= yield %>

</body>
</html>
