<!DOCTYPE html>
<html>
  <head>
    <title>VanTechHub</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Lato:400,900');
    </style>
  </head>

  <body>

<% if flash[:notice] %>
        <div class="alert alert-success"><%= flash[:notice] %></div>
      <% elsif flash[:alert] %>
        <div class="alert alert-danger"><%= flash[:alert] %></div>
      <% end %>

    <%= yield %>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.js"></script>

    <!-- FOOTER -->
    <br>
    <br>
    <br>
    <nav class="bottom-nav">
      <div class="nav-wrapper">
        <div class="foot-right"><span class="foot-quote">Built and maintained by students of CodeCore<span><a href="#" class="brand-logo right"><%= image_tag "codecore.png", class: "logo-img" %></a></div>
        <ul id="nav-mobile" class="left hide-on-med-and-down">


          <li><a href="/">Home</a></li>

        <% if user_signed_in? %>
          <% current_user = User.find_by_id session[:user_id] %>

          <li><a href="/directory">Explore</a></li>
          <li><a href="/sessions" data-method = "delete">Log Out</a></li>

          <% if current_user.is_admin? == true %>
          <li><a href="/admin">Admin</a></li>
          <% end %>

        <% else %>
          <li><a href="/sessions/new">Login</a></li>
          <li><a href="/users/new">Sign up</a></li>
        <% end %>


        </ul>
      </div>
    </nav>
  </body>
</html>
